<header id="main-header">
    <div>
        <h1 id="logo"><a href="/">BookReview</a></h1>
        <nav>
            <ul id="nav-bar">
                <li><a href="/share">Post a Review</a></li>
                <li><a href="">About BookReview</a></li>
                <li><a href="">Contact BookReview</a></li>
            </ul>
        </nav>
    </div>
</header>